{% extends "allianceauth/base-bs5.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate "Whale Tax" %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'whatax/css/whatax.css' %}">
{% endblock %}
{% block extra_javascript %}
  {{ block.super }}
  <script src="{% static 'whatax/js/pagination.js' %}" defer></script>
  <script src="{% static 'whatax/js/sort.js' %}" defer></script>
  <script src="{% static 'whatax/js/search.js' %}" defer></script>
{% endblock %}

{% block content %}
  <h1 class="mb-3"><i class="fas fa-coins"></i> {% block whatax_title %}{% translate "Whale Tax" %}{% endblock %}</h1>

  {% include "whatax/_tabs.html" %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags|default:'info' }} mt-2">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <div class="mt-3">
    {% block whatax_content %}{% endblock %}
  </div>
{% endblock %}
